* {
    padding: 0px;
    margin: 0%;
}

body{
    size: 100vh;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: #063940;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ece1c3;
}

.cabecalho__navabar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 15%;
}

.cabecalho__navabar__componentes {
    color: #ece1c3;
    text-decoration: none;
}

main {
    background-color: #ece1c3;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 1% 15%;
    
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__titulo {
    color: #063940;
    text-align: center;
    font-size: 30px;
    padding: 1.5% 15%;
}

.principios {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.principios__titulo {
    padding: 1.5% 0%;
    color: #063940;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 2%;
    background-color: #063940;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ece1c3;
}


.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

